.layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid:
      "header header header" auto
      "leftSide body rightSide" 1fr
      "footer footer footer" auto
      / auto 1fr auto;
    gap: 8px;
  }
  
  button {
    display: block;
  }

  .header { grid-area: header; text-decoration-color: azure; }
  .leftSide { grid-area: leftSide; 
    background-color:rgb(136, 158, 237);
}
  .body { grid-area: body; }
  .rightSide { grid-area: rightSide; }
  .footer { grid-area: footer; }